services:
  db:
    image: postgres:16-alpine
    env_file: .env
    volumes:
      - ./data/postgres:/var/lib/postgresql/data
    restart: unless-stopped

  package-tracker:
    image: ghcr.io/xitee1/package-tracker:latest
    env_file: .env
    ports:
      - "80:80"
    depends_on:
      - db
    restart: unless-stopped
