@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

html {
  color-scheme: light;
}
html.dark {
  color-scheme: dark;
}

@layer base {
  button,
  [role='button'] {
    cursor: pointer;
  }

  button:disabled,
  [role='button'][aria-disabled='true'] {
    cursor: default;
  }
}
